node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
assets/
/features
trace.zip
index.html
src/ScreenShots
src/Reports/
dist/
.idea/
package-lock.json
runnerTemplate/Run_Debug config.run.xml

# Playwright
/playwright/.auth/
